/*---------------fight place--------------------*/

.fight-wallpaper {
    display: flex;
    width: 780.8px;
    height: 453px;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    animation-duration: 1s;
    animation-name: fade;
    position: relative;
  }
  
  .fight-wallpaper:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(58, 58, 58, 0.7);
  }
  
  .fightplace {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
  }
  
  .fightplace .floorimg {
    width: 100%;
    height: 70px;
  }
  
  .centro1 {
    position: absolute;
    width: 0px;
    height: 300px;
    border: 1px solid red;
    left: 220px;
    bottom: 0px;
    z-index: 1;
  }
  
  .centro2 {
    position: absolute;
    width: 0px;
    height: 300px;
    border: 1px solid red;
    right: 220px;
    bottom: 0px;
    z-index: 1;
  }
  
  .alto1 {
    position: absolute;
    width: 1000px;
    height: 0px;
    border: 1px solid red;
    left: 0px;
    bottom: 150px;
    z-index: 1;
  }
  
  .base1 {
    position: absolute;
    width: 1000px;
    height: 0px;
    border: 1px solid red;
    left: 0px;
    bottom: 42px;
    z-index: 1;
  }
  
  /*----------------heroes movements-----------*/

  #attack1png{
    position: absolute;
    bottom: 190px;
    left: 190px;
    width: 0px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
  }
  
  
  
  #attack1png img{
    width: 400px;
    height: 50px;
  }

  #attack1png.animation, #attack2png.animation{
    animation-name: width-attackpng, finalwidth-attackpng, fadeout;
    animation-duration: 0.5s, 2s, 2s;
    animation-delay: 0s, 0.5s, 0.5s;
    animation-timing-function: linear; 
  }  

  #defense1png{
    position: absolute;
    bottom: 140px;
    left: 167px;
    z-index: 1;
    opacity: 0;
  }

  #defense1png img{
    height: 150px;
  }

  #attack2png{
    position: absolute;
    bottom: 190px;
    right: 190px;
    width: 0px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
  }

  #attack2png img{
    width: 400px;
    height: 50px;
  }

  #defense2png{
    position: absolute;
    bottom: 140px;
    right: 167px;
    z-index: 1;
    opacity: 0;
    
  }

  #defense2png img{
    height: 150px;
  }

  #defense1png.animation, #defense2png.animation {
    animation-name: bounceInDown, fade, fadeout;
    animation-duration: 1s, 1s, 2s;
    animation-delay: 0s, 0s, 1s;
  }  


