/*------------fight heroes-----------------*/

.Harry0,
.Harry1,
.Harry2,
.Harry3,
.Harry6 {
  position: absolute;
  left: 50px;
  bottom: calc(20px - 5px + 100px );
  width: 150px;
  }

.Harry6 {
  position: absolute;
  left: 65px;
  bottom: calc(37px - 5px + 100px );
  width: 110px;
  }

.Harry7 {
  position: absolute;
  left: 25px;
  bottom: calc(30px - 5px + 100px );
  width: 190px;
  }

.Harry8,
.Harry9,
.Harry10 {
  position: absolute;
  left: 70px;
  bottom: calc(29px - 5px + 100px );
  width: 135px;
  }

.Harry4,
.Harry5 {
  position: absolute;
  left: 60px;
  bottom: calc(26px - 5px + 100px );
  width: 120px;
  }

.Harry11 {
  position: absolute;
  left: 55px;
  bottom: calc(30px - 5px + 100px );
  width: 120px;
  }

.Harry12 {
  position: absolute;
  left: 75px;
  bottom: calc(36px - 5px + 100px );
  width: 135px;
  }

.Hermione0,
.Hermione1,
.Hermione2,
.Hermione3 {
  position: absolute;
  left: 68px;
  bottom: calc(30px - 5px + 100px );
  width: 110px;
  }

.Hermione4,
.Hermione5 {
  position: absolute;
  left: 25px;
  bottom: calc(33px - 5px + 100px );
  width: 165px;
  }

.Hermione6 {
  position: absolute;
  left: 95px;
  bottom: calc(42px - 5px + 100px );
  width: 57px;
  }

.Hermione7 {
  position: absolute;
  left: 75px;
  bottom: calc(39px - 5px + 100px );
  width: 97px;
  }

.Hermione8,
.Hermione9,
.Hermione10 {
  position: absolute;
  left: 65px;
  bottom: calc(37px - 5px + 100px );
  width: 137px;
  }

.Hermione11 {
  position: absolute;
  left: 65px;
  bottom: calc(29px - 5px + 100px );
  width: 112px;
  }

.Hermione12 {
  position: absolute;
  left: 73px;
  bottom: calc(37px - 5px + 100px );
  width: 140px;
  }

.Ron0,
.Ron1 {
  position: absolute;
  left: 63px;
  bottom: calc(37px - 5px + 100px );
  width: 135px;
  }

.Ron2,
.Ron3 {
  position: absolute;
  left: 66px;
  bottom: calc(37px - 5px + 100px );
  width: 128px;
  }

.Ron4,
.Ron5,
.Ron7,
.Ron8,
.Ron9,
.Ron10,
.Ron11,
.Ron12 {
  position: absolute;
  left: 30px;
  bottom: calc(32px - 5px + 100px );
  width: 167px;
  }

.Ron6 {
  position: absolute;
  left: 65px;
  bottom: calc(36px - 5px + 100px );
  width: 100px;
  }

.initialAnimation1{
  animation-name: bounceInDown;
  animation-duration: 2s;
}

