/*----------fight villains----------------*/
.Troll {
    position: absolute;
    right: -15px;
    bottom: calc(20px - 5px + 100px);
    width: 300px;
    }
  
  .Quirrell {
    position: absolute;
    right: 38px;
    bottom: calc(12px - 5px + 100px);
    width: 150px;
    }
  
  .Basilisco {
    position: absolute;
    right: -35px;
    bottom: calc(8px - 5px + 100px);
    width: 370px;
    height: 400px;
    }
  
  .Tom {
    position: absolute;
    right: 52px;
    bottom: calc(35px - 5px + 100px);
    width: 140px;
    }
  
  .Pettigrew {
    position: absolute;
    right: 42px;
    bottom: calc(42px - 5px + 100px);
    width: 170px;
    }
  
  .Dementor {
    position: absolute;
    right: 20px;
    bottom: calc(20px - 5px + 100px);
    width: 180px;
    }
  
  .Dragon {
    position: absolute;
    right: -100px;
    bottom: calc(-35px - 5px + 100px);
    width: 500px;
    }
  
  .Voldemort1 {
    position: absolute;
    right: 45px;
    bottom: calc(39px - 5px + 100px);
    width: 180px;
    }
  
  .Umbridge {
    position: absolute;
    right: 62px;
    bottom: calc(40px - 5px + 100px);
    width: 120px;
    }
  
  .Lucius {
    position: absolute;
    right: -5px;
    bottom: calc(39px - 5px + 100px);
    width: 220px;
    }
  
  .Bellatrix {
    position: absolute;
    right: 48px;
    bottom: calc(29px - 5px + 100px);
    width: 150px;
    }
  
  .Draco {
    position: absolute;
    right: 0px;
    bottom: calc(7px - 5px + 100px);
    width: 230px;
    }
  
  .Voldemort2 {
    position: absolute;
    right: 56px;
    bottom: calc(37px - 5px + 100px);
    width: 190px;
    }

  .hitted{
    animation-name: headShake;
    animation-duration: 1s;
    animation-delay: 0.5s;
  }
  
  .initialAnimation2{
    animation-name: fade0, bounceInDown;
    animation-duration: 1s, 2s;
    animation-delay: 0s, 1s;
  }