/*-----------------------Intro---------------------*/

  
  
  .intro-wallpaper {
    background: url(https://i.ibb.co/7yDM2w6/Intro-wallpaper.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    width: 780.8px;
    height: 453px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    animation-duration: 1s;
    animation-name: fade;
    position: relative;
  }
  
  .intro-wallpaper a {
    animation-duration: 5s;
    animation-name: fade0;
  }
  
  .intro-wallpaper a img {
    width: 300px;
    animation-duration: 1s;
    animation-name: fade;
    animation-delay: 5s;
  
  }
  
  .logo img {
    width: 500px;
    height: auto;
    animation-duration: 6s;
    animation-name: scale;
  
  }
  