/*-----------------Select-Character-------------------*/
.select-wallpaper {
    background: url(https://i.ibb.co/TKHFLqz/Select-Character-Fondo.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    width: 780.8px;
    height: 453px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
  }
  
  .select-wallpaper .overlay {
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.733)
  }
  
  .character-left {
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .character-left .carrousel {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .character-left .arrow-left,
  .character-left .arrow-right {
    width: 70px;
  }
  
  .character-left .characterimg {
    width: 160px;
    animation-duration: 0.5s;
    animation-name: fade;
  }
  
  .character-left .btn-select {
    width: 140px;
    height: auto;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
  
  }
  
  .character-right {
    width: 50%;
    height: 100%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation-duration: 0.5s;
    animation-name: fade;
  }
  
  .character-right .imgapi {
    width: 100px;
    height: 150px;
  }
  
  
  