@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #3c484e;
  font-family: 'Open Sans', sans-serif;
  user-select: none; 
}

#content{
  margin: auto;
  width: 80%;
  height: 80vh;
}
.Header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header a {
  text-decoration: none;
  color: #15302C;
}

.Main {
  padding: 10px;
  grid-template-columns: minmax(auto, 976px);
  display: grid;
  justify-content: center;
}

/*-----------------------Intro---------------------*/
@keyframes scale {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade0 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

.intro-wallpaper{
  background: url(https://i.ibb.co/7yDM2w6/Intro-wallpaper.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  width: 780.8px;
  height: 453px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  animation-duration: 1s;
  animation-name: fade;
  position: relative;
}

.intro-wallpaper a{
  animation-duration: 5s;
  animation-name: fade0;
}
.intro-wallpaper a img{
  width: 300px;
  animation-duration: 1s;
  animation-name: fade;
  animation-delay: 5s;
  
}
.logo img{
  width: 500px;
  height: auto;
  animation-duration: 6s;
  animation-name: scale;
  
}

/*----------------------------------------------------*/
/*-----------------Select-Character-------------------*/
.select-wallpaper{
  background: url(https://i.ibb.co/TKHFLqz/Select-Character-Fondo.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  width: 780.8px;
  height: 453px;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.select-wallpaper .overlay{
  width: 80%;
  height: 80%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.733)
}

.character-left{
  width: 50%;
  height: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.character-left .carrousel{
  width:100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.character-left .arrow-left, .character-left .arrow-right{
  width: 70px;
}

.character-left .characterimg{
  width: 160px;
  animation-duration: 0.5s;
  animation-name: fade;
}

.character-left .btn-select{
  width: 140px;
  height: auto;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
  
}

.character-right{
  width: 50%;
  height: 100%;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation-duration: 0.5s;
  animation-name: fade;
}

.character-right .imgapi{
  width: 100px;
  height: 150px;
}
/*----------------------------------------------------*/

/*----------------------Tower-------------------------*/
.intro-wallpaper .tower{
  animation-name: fade0;
  animation-duration: 1s;
  
}

/* 13 levels tower */
.intro-wallpaper .tower .towerimg {
  width: 600px;
  object-position: 0px -800px;
  animation-duration: 2s;
  animation-name: fade;
  animation-delay: 1s; 
}

.intro-wallpaper .tower .towerimg1 {
  width: 600px;
  object-position: 0px -647px;
  
  animation-name: fade, traslatedown1;
  animation-duration: 2s, 3s;
  animation-delay: 1s, 0s; 
}

.intro-wallpaper .tower .towerimg2 {
  width: 600px;
  object-position: 0px -492px;
  animation-name: fade, traslatedown2;
  animation-duration: 2s, 3s;
  animation-delay: 1s, 0s;
}

.intro-wallpaper .tower .towerimg3 {
  width: 600px;
  object-position: 0px -338px;
  animation-name: fade, traslatedown3;
  animation-duration: 2s, 3s;
  animation-delay: 1s, 0s; 
}

.intro-wallpaper .tower .towerimg4 {
  width: 600px;
  object-position: 0px -185px;
  animation-name: fade, traslatedown4;
  animation-duration: 2s, 3s;
  animation-delay: 1s, 0s;
}

.intro-wallpaper .tower .towerimg5 {
  width: 600px;
  object-position: 0px -29px;
  animation-name: fade, traslatedown5;
  animation-duration: 2s, 3s;
  animation-delay: 1s, 0s;
}

.intro-wallpaper .tower .towerimg6 {
  width: 600px;
  object-position: 0px 120px;
  animation-name: fade, traslatedown6;
  animation-duration: 2s, 3s;
  animation-delay: 1s, 0s;
}

.intro-wallpaper .tower .towerimg7 {
  width: 600px;
  object-position: 0px 274px;
  animation-name: fade, traslatedown7;
  animation-duration: 2s, 3s;
  animation-delay: 1s, 0s;
}

.intro-wallpaper .tower .towerimg8 {
  width: 600px;
  object-position: 0px 427px;
  animation-name: fade, traslatedown8;
  animation-duration: 2s, 3s;
  animation-delay: 1s, 0s;
}

.intro-wallpaper .tower .towerimg9 {
  width: 600px;
  object-position: 0px 583px;
  animation-name: fade, traslatedown9;
  animation-duration: 2s, 3s;
  animation-delay: 1s, 0s;
}

.intro-wallpaper .tower .towerimg10 {
  width: 600px;
  object-position: 0px 736px;
  animation-name: fade, traslatedown10;
  animation-duration: 2s, 3s;
  animation-delay: 1s, 0s; 
}

.intro-wallpaper .tower .towerimg11 {
  width: 600px;
  object-position: 0px 892px;
  animation-name: fade, traslatedown11;
  animation-duration: 2s, 3s;
  animation-delay: 1s, 0s; 
}

.intro-wallpaper .tower .towerimg12 {
  width: 600px;
  object-position: 0px 1046px;
  animation-name: fade, traslatedown12;
  animation-duration: 2s, 3s;
  animation-delay: 1s, 0s;
}


/*----*/

.intro-wallpaper .tower .towerpj{
  position: absolute;
  bottom: 115px;
  left: 270px;
  width:85px;
  height: 100px;
  animation-name: fade0, fade;
  animation-duration: 1s, 2s;
  animation-delay: 0s, 1s;
}

.intro-wallpaper .tower .traslateright{
  animation-name: fade0, fade, traslaterightpj;
  animation-duration: 1s, 2s, 2s;
  animation-delay: 0s, 1s, 1s;
}

@keyframes traslaterightpj {
  from {
    left: 150px;
  }
  to {
    left: 270px;
  }
}

/*---traslate down group ----------*/

@keyframes traslatedown1 {
  from {
    object-position: 0px -800px;
  }
  to {
    object-position: 0px -647px;
  }
}

@keyframes traslatedown2 {
  from {
    object-position: 0px -647px;
  }
  to {
    object-position: 0px -492px;
  }
}

@keyframes traslatedown3 {
  from {
    object-position: 0px -492px;
  }
  to {
    object-position: 0px -338px;
  }
}

@keyframes traslatedown4 {
  from {
    object-position: 0px -338px;
  }
  to {
    object-position: 0px -185px;
  }
}

@keyframes traslatedown5 {
  from {
    object-position: 0px -185px;
  }
  to {
    object-position: 0px -29px;
  }
}

@keyframes traslatedown6 {
  from {
    object-position: 0px -29px;
  }
  to {
    object-position: 0px 120px;
  }
}

@keyframes traslatedown7 {
  from {
    object-position: 0px 118px;
  }
  to {
    object-position: 0px 274px;
  }
}

@keyframes traslatedown8 {
  from {
    object-position: 0px 271px;
  }
  to {
    object-position: 0px 427px;
  }
}

@keyframes traslatedown9 {
  from {
    object-position: 0px 427px;
  }
  to {
    object-position: 0px 583px;
  }
}

@keyframes traslatedown10 {
  from {
    object-position: 0px 583px;
  }
  to {
    object-position: 0px 736px;
  }
}

@keyframes traslatedown11 {
  from {
    object-position: 0px 736px;
  }
  to {
    object-position: 0px 892px;
  }
}

@keyframes traslatedown12 {
  from {
    object-position: 0px 892px;
  }
  to {
    object-position: 0px 1046px;
  }
}

/*------traslate down grupo end -------- */

/*---------------fight--------------------*/

.fight-wallpaper{
  display: flex;
  width: 780.8px;
  height: 453px;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  animation-duration: 1s;
  animation-name: fade;
  position: relative;
}

.fight-wallpaper:before {
	content:'';
	position: absolute;
  top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(58, 58, 58, 0.7);
}

.fightplace{
  width: 100%;
  height: auto;
  position: relative; 
}

.fightplace .floorimg{
  width: 100%;
}

.fightplace .heroe{
  position: absolute;
  left: 20px;
}

.fightplace .villain{
 position: relative;
 right: 20px;
}