/*----------------------Tower-------------------------*/
.intro-wallpaper .tower {
    animation-name: fade0;
    animation-duration: 1s;
  
  }
  
  /* 13 levels tower */
  .intro-wallpaper .tower .towerimg {
    width: 600px;
    object-position: 0px -800px;
    animation-duration: 2s;
    animation-name: fade;
    animation-delay: 1s;
  }
  
  .intro-wallpaper .tower .towerimg1 {
    width: 600px;
    object-position: 0px -647px;
  
    animation-name: fade, traslatedown1;
    animation-duration: 2s, 3s;
    animation-delay: 1s, 0s;
  }
  
  .intro-wallpaper .tower .towerimg2 {
    width: 600px;
    object-position: 0px -492px;
    animation-name: fade, traslatedown2;
    animation-duration: 2s, 3s;
    animation-delay: 1s, 0s;
  }
  
  .intro-wallpaper .tower .towerimg3 {
    width: 600px;
    object-position: 0px -338px;
    animation-name: fade, traslatedown3;
    animation-duration: 2s, 3s;
    animation-delay: 1s, 0s;
  }
  
  .intro-wallpaper .tower .towerimg4 {
    width: 600px;
    object-position: 0px -185px;
    animation-name: fade, traslatedown4;
    animation-duration: 2s, 3s;
    animation-delay: 1s, 0s;
  }
  
  .intro-wallpaper .tower .towerimg5 {
    width: 600px;
    object-position: 0px -29px;
    animation-name: fade, traslatedown5;
    animation-duration: 2s, 3s;
    animation-delay: 1s, 0s;
  }
  
  .intro-wallpaper .tower .towerimg6 {
    width: 600px;
    object-position: 0px 120px;
    animation-name: fade, traslatedown6;
    animation-duration: 2s, 3s;
    animation-delay: 1s, 0s;
  }
  
  .intro-wallpaper .tower .towerimg7 {
    width: 600px;
    object-position: 0px 274px;
    animation-name: fade, traslatedown7;
    animation-duration: 2s, 3s;
    animation-delay: 1s, 0s;
  }
  
  .intro-wallpaper .tower .towerimg8 {
    width: 600px;
    object-position: 0px 427px;
    animation-name: fade, traslatedown8;
    animation-duration: 2s, 3s;
    animation-delay: 1s, 0s;
  }
  
  .intro-wallpaper .tower .towerimg9 {
    width: 600px;
    object-position: 0px 583px;
    animation-name: fade, traslatedown9;
    animation-duration: 2s, 3s;
    animation-delay: 1s, 0s;
  }
  
  .intro-wallpaper .tower .towerimg10 {
    width: 600px;
    object-position: 0px 736px;
    animation-name: fade, traslatedown10;
    animation-duration: 2s, 3s;
    animation-delay: 1s, 0s;
  }
  
  .intro-wallpaper .tower .towerimg11 {
    width: 600px;
    object-position: 0px 892px;
    animation-name: fade, traslatedown11;
    animation-duration: 2s, 3s;
    animation-delay: 1s, 0s;
  }
  
  .intro-wallpaper .tower .towerimg12 {
    width: 600px;
    object-position: 0px 1046px;
    animation-name: fade, traslatedown12;
    animation-duration: 2s, 3s;
    animation-delay: 1s, 0s;
  }
  
  
  /*----*/
  
  .intro-wallpaper .tower .towerpj {
    position: absolute;
    bottom: 115px;
    left: 270px;
    width: 85px;
    height: 100px;
    animation-name: fade0, fade;
    animation-duration: 1s, 2s;
    animation-delay: 0s, 1s;
  }
  
  .intro-wallpaper .tower .traslateright {
    animation-name: fade0, fade, traslaterightpj;
    animation-duration: 1s, 2s, 2s;
    animation-delay: 0s, 1s, 1s;
  }
  
  